*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 62.5%;
	position: relative;
	overflow-y: hidden;
}

#renderCanvas {
	width: 100vw;
	height: 100vh;
	touch-action: none;
}

.overlay {
	position: absolute;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: black;
}
.overlay__message {
	background-color: #fff;
	margin: auto;
	font-size: 3rem;
}
